body {
    font-family: sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media screen and (max-width:600px) {
        
    }
}
.container {
    width: 500px;
    height: 300px;
    background-color: black;
    border: 1px solid black;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.dots {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
}

.red {
    height: 20px;
    border-radius: 50%;
    width: 20px;
    background-color: red;
}

.blue {
    height: 20px;
    border-radius: 50%;
    width: 20px;
    background-color: blue;
}

.green {
    height: 20px;
    border-radius: 50%;
    width: 20px;
    background-color: green;

}
.head{
color: aqua;
    margin: 8px;
    padding: 1px 2px 2px 5px;
}
p{
    margin: 10px;
}
.btn-button{
  display: flex;
  justify-content: center;

}
button{
    font-size: medium;
    width: 120px;
    height: 30px;
    background: darkorchid;
    color: #fff;
    border: none;
    border-radius:20px ;
    cursor: pointer;
}